.custRow {
    display: flex;
}
  
.custColumn {
    flex: auto;
}

.leftCol {
    width: 25%;
}

.rightCol {
    width: 75%;
}
/* custom 2 columns */

.custTopSpacing{
    margin-top: 10px;
    margin-bottom: 10px;
}

.custH1{
    font-size: 40px;
}

.custH2{
    font-size: 28px;
    color: #727272;
}

.colH1{
    font-size: 40px;
    color: #2487ce;
}