{% load static %}
{% include 'navbar.html' %}
<link href="{% static 'css/formStyle.css'%}" rel="stylesheet">
<script src="{% static 'formStyle.js' %}"></script> 

<div class="p-5 m-5">
    <div class="container form-style-7">
        <div class="row">
          <div class="col">
            <p></p>
          </div>
          <div class="col">
            <form class="form-style-7" method="post" autocomplete="off">
                {% csrf_token %}
                {{ mod_form.as_p }}
                <div class="mb-3"> <button class="btn btn-outline-primary w-100" type="submit">Add Test</button> </div>
            </form>
          </div>
          <div class="col">
            <p></p>
          </div>
        </div>
      </div>
</div>