{% load static %}
{% include 'navbar.html' %}
<link href="{% static 'css/formStyle.css'%}" rel="stylesheet">
<script src="{% static 'formStyle.js' %}"></script> 

<div class="p-5 m-5">
    <div class="container">
        <div class="row">
          <div class="col">
            <p></p>
          </div>
          <div class="col">
            <div class="p-5 m-5">
                <form class="form-style-7" method="post" autocomplete="off">
                    {% csrf_token %}
                    <ul>
                        <li>
                            <label for="id_module_name">Module Name</label>
                            <input type="text" name="module_name" maxlength="120" required id="id_module_name">
                        </li>
                        <li>
                            <label for="id_module_desc">Module Description</label>
                            <input type="text" name="module_desc" maxlength="300" required id="id_module_desc">
                        </li>
                        <p></p>
                    </ul>
                    <div class="mb-3"> <button class="btn btn-outline-primary w-100" type="submit">Add Module</button> </div>
                </form>
            </div>
          </div>
          <div class="col">
            <p></p>
          </div>
        </div>
      </div>
</div>