{% load static %}
{% include 'navbar.html' %}
<link href="{% static 'css/formStyle.css'%}" rel="stylesheet">
<script src="{% static 'formStyle.js' %}"></script> 
<link href="{% static 'css/tablesv2.css'%}" rel="stylesheet">

<div class="p-5 m-5">
    <div class="container">
        <div class="row">
          <div class="col">
            <p></p>
          </div>
          <div class="col">
            <form class="form-style-7" method="post" autocomplete="off">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="mb-3"> <button class="btn btn-outline-primary w-100" type="submit">Add Test Question To Set</button> </div>
                <label class="labelCust5 w-100"><b>Note: <br/>Repeat to add more questions to test set</b></label>
                <div>
                  <br/>
                  <a href="{% url 'selModule' %}" class="btn btn-outline-primary w-100">
                    <i class="fas fa-link"></i>
                    Click Here to Return To Module Page
                  </a>
                </div>
            </form>
          </div>
          <div class="col">
            <p></p>
          </div>
        </div>
      </div>
</div>
{% comment %} <div class="p-5 m-5">
    <form method="post" autocomplete="off">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="mb-3"> <button class="btn btn-outline-primary w-100" type="submit">Add Quiz Questions</button> </div>
    </form>
</div> {% endcomment %}