{% load static %} {% include 'navbar.html' %} {% comment %}
<link href="{% static 'css/formStyle.css'%}" rel="stylesheet" />
<script src="{% static 'formStyle.js' %}"></script>
{% endcomment %}
<link href="{% static 'css/inputwidth.css'%}" rel="stylesheet" />

<div class="p-5 m-5">
  <div class="container">
    <div class="row mx-auto">
      <div class="col">
        <div class="p-5 m-5">
          <div class="m-5">
            <div class="m-5">
              <div class="m-5">
                <form class="form-style-7" method="post" autocomplete="off">
                  {% csrf_token %} {{ form.as_p }}
                  <div class="mb-3">
                    <button class="btn btn-outline-primary w-100" type="submit">
                      Add Test Set
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
