{% load static %}
<link href="{% static 'css/login.css'%}" rel="stylesheet">
{% include 'navbar.html' %}

<section>
  <div class="container mt-5 pt-5">
      <div class="row d-flex justify-content-center">
          <!-- left side; image  -->
          <div class="col-md-6">
              <img src="{% static 'images/loginImg1.png' %}" width="700" height="450"/>                
          </div>
          <!-- right side; login card -->
          <div class="col-md-6">
              <div class="card px-5 py-5" id="form1">
                  <div class="form-data">
                      <p></p>
                      <h3>Log In</h3>
                      <br/>
                      <div class="forms-inputs mb-4"> <span>Email</span> <input class="w-100" autocomplete="off" type="text">
                          <!-- <div class="invalid-feedback">A valid email is required!</div> -->
                      </div>
                      <div class="forms-inputs mb-4"> <span>Password</span> <input class="w-100" autocomplete="off" type="password">
                          <!-- <div class="invalid-feedback">Password must be 8 character!</div> -->
                      </div>
                     <div class="mb-3"> <button class="btn btn-outline-primary w-100">Login</button> </div>
                      <div>
                          </label> <span class="ml-auto"><a href="#" class="forgot-pass">Forgot Password</a></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>