{% include 'navbar.html' %}
<section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-9 text-center">
          <h1>What is OAiES?</h1>
          <h2>OAiES is an online assessment tool for the education system.</h2>
          <br/><br/>
        </div>
      </div>
      <div class="text-center">
        {% comment %} <a href="#about" class="btn-get-started scrollto">Get Started</a> {% endcomment %}
        <h1>Main Features of OAiES</h1>
      </div>


      </div>
    </div>
  </section><!-- End Hero -->