{% include 'navbar.html' %}

<section>
    <div class="container p-5">
        <div class="row col-12">
            <div class="col-4"></div>
            <div class="col-4 justify-content-between">
                <label>
                    Email: 
                </label>
                <input type="text" id="email" name="email"/>
                <!-- <div class="custRow">
                    <div class="custColumn leftCol align-content-center">
                        <label class="custTopSpacing">Email:</label>
                        <label class="custTopSpacing">Password:</label>
                    </div>
                    <div class="custColumn rightCol justify-content-center">
                        <input class="custTopSpacing" type="text" id="email" name="email">
                        <input class="custTopSpacing" type="text" id="password" name="password">
                    </div>
                </div> -->
            </div>
            <div class="col-4"></div>
        </div>
    </div>
</section>