{% load static %}
{% include 'navbar.html' %}
<link href="{% static 'css/card.css'%}" rel="stylesheet">

<div class="container mt-5 pt-5">
    <div class="container mx-auto mt-4">
        <div class="row">
        {% for module in modlist %}
          <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"><b>Module:</b> {{module.module_name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"><b>Created By:</b> {{module.host}}</h6>
                    <br/>
                    <p class="card-text"><b>Module Description: </b>{{module.module_desc}}</p>
                    <br/>
                    <a href="{% url 'modulePage' module.id %}" class="btn btn-outline-primary"><i class="fas fa-link"></i>Select</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>