{% load static %}
{% include 'navbar.html' %}
<link href="{% static 'css/login.css'%}" rel="stylesheet">

<div class="container mt-5 pt-5">
    <div class="row d-flex justify-content-center">
        <!-- left side; image  -->
        <div class="col-md-6">
            <img src="{% static 'images/Form.png' %}" width="700" height="450"/>                
        </div>
        <!-- right side; card -->
        <div class="col-md-6">
            <div class="card " id="form1">
                <div class="form-data">
                    <p></p>
                    <br/>
                    <h3>Register</h3>
                    <br/>
                </div>
                <form method="post" autocomplete="off">
                    {% csrf_token %}
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}
                    <div class="mb-3"> <button class="btn btn-outline-primary w-100" type="submit">Register</button> </div>
                </form>
            </div>
        </div>
    </div>
</div>
